<ng-container *ngIf="vm$ | async as vm">
    ShowSpinner : {{vm.loading}}
    <div class="tool-bar">
        <span class="search-tool">
            <label for="herosearch">Search: </label>
            <input name="herosearch" (input)="doSearch($event)" [value]="vm.search" />
        </span>
        <span class="page-tool">
            <label>Page {{vm.userPage}} of {{vm.totalPages}} : </label>
            <span class="buttons">
                <button class="prev" (click)="movePageBy(-1)" [disabled]="vm.disablePrevButton">Prev</button>
                <button class="next" (click)="movePageBy(1)" [disabled]="vm.disableNextButton">Next</button>
            </span>
        </span>
        <span class="result-tool">
            <label>Show Results: </label>
            <span class="buttons">
                <button *ngFor="let limit of hero.limits" (click)="setlimit(limit)" [disabled]="vm.limit === limit">
                    {{ limit }}
                </button>
            </span>
        </span>
        <span class="total-tool">
            <label>Total Results: {{vm.totalResults}} </label>
        </span>
    </div>
    <div class="table-content">
        <rx-hero-badge *ngFor="let hero of vm.heroes" [hero]="hero"></rx-hero-badge>
    </div>
</ng-container>
